#map-canvas {
  height: 500px;
  margin: 0px;
  padding: 0px
}

#loader {
  height: 500px;
  margin: 0px;
  padding: 0px;
  background-image: url(http://wanderweg.io/img/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  border: 5px solid #81B33A;
}

.navbar-inverse {
  margin-top: 10px;
}

.dl-kml{
  margin-top: 10px;
}

body { 
  background: url(http://wanderweg.io/img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    box-sizing: content-box; 
    line-height: normal;
}

.gsc-control-cse {
  background-color: #F8F5F0 !important;
  border-color: #F8F5F0 !important;
}

input.gsc-search-button {
  background-color: #81B33A !important;
  border-color: #81B33A !important;
}
