---
layout: default
---

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>


{% if paginator.total_pages > 1 %}
<nav>
<ul class="pager">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
  {% else %}
    <li class="disabled"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
  {% endif %}

  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
    <li class="disabled"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% endif %}
</ul>
</nav>
{% endif %}
