---
layout: default
---

  <div>
    {% for post in paginator.posts %}
      <div class="well">
        <h1><i class="fa fa-leaf text-success"></i> 
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <small>{{ post.date | date: "%b %-d, %Y" }}</small>
        </h1>
        
        {{ post.excerpt }}
      </div>
    {% endfor %}
  </div>

{% if paginator.total_pages > 1 %}
<nav>
<ul class="pager">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
  {% else %}
    <li class="disabled"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
  {% endif %}

  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
    <li class="disabled"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% endif %}
</ul>
</nav>
{% endif %}

<script>
$( document ).ready(function() {
  $("body").addClass("home-page");
  $("#footer > p").addClass("well");
});

</script>
