---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{page.title}}</h1>
    <p class="post-meta">{{page.date | date: "%b %-d, %Y"}}</p>
  </header>
  <ul>
    <li>Length: {{page.length}}</li>
    <li>Total Time: {{page.time_total}}</li>
    <li>Time Moving: {{page.time_moving}}</li>
    <li>Elevation Gain: {{page.elevation_gain}}</li>
    <li>Elevation Min: {{page.elevation_min}}</li>
    <li>Elevation Max: {{page.elevation_max}}</li>
  </ul>

  <article class="post-content">
    {{content}}
    <a href="{{site.url}}/track/{{page.path | replace:'_posts/',''| replace:'.markdown',''}}.kml">Download file</a>
    <div id="map-canvas"></div>
    <img src="{{site.url}}/img/{{page.path | replace:'_posts/',''| replace:'.markdown',''}}1.jpg" />
    <img src="{{site.url}}/img/{{page.path | replace:'_posts/',''| replace:'.markdown',''}}2.jpg" />
    <img src="{{site.url}}/img/{{page.path | replace:'_posts/',''| replace:'.markdown',''}}3.jpg" />
  </article>

  <script>
    function initialize() {
      var map = new google.maps.Map(document.getElementById('map-canvas'));

      var ctaLayer = new google.maps.KmlLayer({
        //url: 'http://howcoolismyresear.ch/day3.kml'
        url: '{{site.url}}/track/{{page.path | replace:'_posts/',''| replace:'.markdown',''}}.kml'
      });
      ctaLayer.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

</div>
